<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingming.homework.elmproject.mapper.OrderDetailetMapper">

    <resultMap id="BaseResultMap" type="com.mingming.homework.elmproject.entity.OrderDetailet">

    </resultMap>

    <sql id="Base_Column_List">
        odId, orderId, foodId, quantify
    </sql>
</mapper>